.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#searchDiv {
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90vh;
  z-index: 1;
}

#footer {
  z-index: 1;
}

#areaNumber {
  width: 40vw;
  float: left;
  margin: 8px;
}

#clearMarkerButton {
  z-index: 2;
  font-size: large;
}
